img {
  width: 100%;
}

h3 {
  text-align: center;
  
  font-size: 2rem;
}

#divider {
  margin: 30px 0 30px 0;
}

.link-to-piece {
  font-family: Vollkorn, serif;

  height: 5rem;
  width: 80%;

  margin: 0 auto 10px auto;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/test_wp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link-to-piece a {
  font-size: 20pt;

  color: white;
  
  text-decoration: none;
}

.poem h1, .poem h2 {
  text-align: center;
}
  
.poem p {
  text-indent: 0;
  text-align: center;
}

.february-2020 {
  margin-top: 10px;

  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.february-2020 .prev-month {
    color: #999999;
}
  
.february-2020 thead {
  background-color: white;
  color: #222222;
    
  vertical-align: center;
  text-align: center;

  height: 3rem;
}

.february-2020 tbody {
  vertical-align: top;
  text-align: center;
}

.february-2020 tbody tr td {
  padding: 0.5rem;
}

.february-2020 tbody tr {
    border-bottom: 1px solid #222222; 
}

.february-2020 tbody tr:nth-child(odd) {
  background-color: #222222;
}
  
.february-2020 tbody tr:nth-child(even) {
  background-color: #333333;
}

.new-perspective.zig, .new-perspective.zag {
  border: none;
  height: 30px;
  margin: 0 50px;
}
  
.new-perspective.zig{
  background: linear-gradient(-135deg, #333 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #333 20px, rgba(0, 0, 0, 0) 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 100;
  position: relative;
}
  
.new-perspective.zag {
  background: linear-gradient(-135deg, #fff 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #ffffff 20px, #333333 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 50;
  margin-top: -28px;
}