@import url('https://fonts.googleapis.com/css?family=Lato|Vollkorn&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 calc(10vh + 20px) 0;
  font-family: sans-serif;

  background-color: #333333;
  
  color: white;

  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Vollkorn, serif;
}

.hero {
  width: 100vw;
  height: 100vh;

  font-family: Vollkorn, serif;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/test_wp.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-bottom: 7vh;
}

.hero h1 {
  font-size: 7rem;

  margin-top: 0;
  margin-bottom: 0.2rem;
}

main {
  max-width: 600px;
  margin: 0 auto; 
}

main h1 {
  font-family: Vollkorn, serif;

  text-align: center;

  font-size: 3em;
}

main p {
  font-family: Lato, sans-serif;

  margin: 1.2em auto;

  text-align: justify;
  text-indent: 3em;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;

  max-width: 100%;
}

.card {
  height: 200px;
  width: 300px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/test_wp.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card h1 {
  font-size: 2.15em;
}

.card:nth-child(1) {
  grid-column: 1 / span 2;
  height: 400px;
  width: 100%;

  font-size: 2em;
}

.card h1 a {
  color: white;

  text-decoration: none;
}

footer {
  width: 100vw;
  height: 10vh;

  background-color: #222222;

  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.with-nav {
  margin-top: 100px;
}

nav {
  font-family: Vollkorn, serif;
  font-size: 1.3rem;

  height: 80px;
  width: 100vw;

  margin: 0;

  background-color: #222222;

  position: fixed;

  top: 0;
  
  display: flex;
  justify-content: center;
  align-items: center; 
}

nav a {
  min-width: 100px;
  height: 60px;

  color: white;
  
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

nav a:hover {
  background-color: #333333;
}

.header {
  font-size: 4rem;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/test_wp.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  height: 300px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 0;
}

hr {
  border: 2px dashed white;
}

.acknow main {
  max-width: 770px;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;

  margin-top: 20px;
}

.members article {
  background-color: #222222;
  min-height: 30vh;
}

.members article img {
  height: 250px;
  width: 250px;

  object-fit: cover;
}

.members article h1 {
  margin: 0 auto;
}

.members article p {
  margin: 0 1rem 0 1rem;
}

.members article:last-child {
  grid-column: 2 / span 2;
}

.members article:last-child img {
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.2rem;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}